<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DEG.Google" version="1.0" targetFramework="net461" />
  <package id="DEG.ServiceCore" version="1.2.1" targetFramework="net461" />
  <package id="Nefarius-VideoLibrary" version="1.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="OpenSSL.PrivateKeyDecoder" version="1.2.0" targetFramework="net461" />
  <package id="OpenSSL.X509Certificate2.Provider" version="1.2.0" targetFramework="net461" />
  <package id="ToastNotifications" version="2.2.5" targetFramework="net461" />
  <package id="ToastNotifications.Messages" version="2.2.5" targetFramework="net461" />
  <package id="Unity" version="5.8.6" targetFramework="net461" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net461" />
  <package id="XamlStyler.Console" version="3.0.0" targetFramework="net461" developmentDependency="true" />
</packages>